<h1>Alla kurser</h1>


<form>
  <input type="text"  name="searchText"  placeholder="Sök här" [(ngModel)]="searchText" (input)="sortSearchandDrop()">
  <select name="sort" id="sortId" [(ngModel)]="sort" (change)="sortSearchandDrop()">  
      <option value="all">Alla ämnen</option>
      <option id="subject" *ngFor="let subject of allSubjects" [value]="subject">{{ subject }}</option>
      <!--<option  *ngFor="let course of sortedList" [value]="course.subject">{{ course.subject }} </option>-->
  </select>
  </form>
    


<div  id="allCourses">

    <table *ngIf="sortedList.length > 0">
      
      <tr *ngFor="let course of sortedList | slice: (page-1) * pageSize : page * pageSize">
        <th>
          <p>{{course.subject}}, ({{course.subjectCode}}) </p>
          <p>{{course.courseName}}, </p>
          <p>{{course.points}}p </p>
          <p>{{course.level}} ({{course.progression}})</p>
          
        </th>

        <td>
          <p><b>{{course.courseCode}}</b></p>
          <p><a href="{{course.syllabus}}">Kursplan</a></p>
        </td>
      
        
          <td ngbDropdown class="d-inline-block">
            <button type="button" class="btn btn-outline-primary" id="dropdown" ngbDropdownToggle>
              Lägg till
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdown" id="dropdownDiv">
              <button id="buttonDrop" ngbDropdownItem>Ramschema 1</button>
              <button id="buttonDrop" ngbDropdownItem>Ramschema 2</button>
              <button id="buttonDrop" ngbDropdownItem>Ramschema 3</button>
              </div>
            </td>
        
        
        </tr>
    </table>
    <ngb-pagination [collectionSize]="sortedList.length" [(page)]="page" [pageSize]="pageSize" aria-label="Default pagination" [maxSize]="8"></ngb-pagination>
  
    <div *ngIf="sortedList.length === 0">
      <p>Inga kurser matchar din sökning.</p>
    </div>
  </div>

 