
.pagination {
    display: block;
    margin: auto;
}
#allCourses{
    position: relative;
    width: fit-content;
    margin: auto;
    padding-bottom: 2%;
    
    .nameTable {
        background-color: white;
        left: 0;
        margin-left: 0;
        width: 100%;
        border: none;
        text-align: center;
        th{
        padding-left: 1%;
        padding-right: 1%;
        border: none;
        
        }
        tr{
            border: none;
            button{
                border: none;
                width: fit-content;
                margin-right: 4vw;
                background-color: white;
            }

            button:hover {
                text-decoration: underline;
            }
        }
        
    }

    table{
        background-color: aliceblue;
        padding: 1%;
        margin: auto;
        border-bottom: 4px double rgb(0, 0, 0);
        
        
    }
    tr{
        width: fit-content;
        padding-left: 1%;
        padding-right: 1%;
        border: 1px solid black;
        
        

        th{
            padding-left: 1%;
            padding-right: 1%;
            width: 60vw;
            p{
                display: inline-block;
                margin-right: 1%;
            }
        }

        td{
            padding-left: 1%;
            padding-right: 1%;
            width: fit-content;
            p{
                display: block
            }
            #dropdown{
                width: fit-content;
                margin-top: 4vh;
                margin-right: 1vw;
                margin-left: 2vw;
            }

        }

        #buttonDrop{
            font-weight: 600;
        }

        #buttonDrop:hover{
            //background-color: aliceblue;
            text-decoration: underline;
        }

    }


    div{
        text-align: center;
    }
}

h1{
    text-align: center;
}


form{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
    input{
        font-size: 120%;
            
        }
    }




    @media screen and (max-width: 700px) { 


        form{
            text-align: center;
            margin-top: 2vh;
            margin-bottom: 2vh;
            
            input{
                font-size:100%;
                    
                }

                select {
                    font-size: 75%;
                }
            }


            #allCourses{
                position: relative;
                width: 90vw;
                margin: auto;
                margin-left: 2.5vw;
                padding-bottom: 2%;
                font-size: 70%;
} }