#allCourses{
    position: relative;
    width: fit-content;
    margin: auto;
    
    
    table{
        background-color: aliceblue;
        padding: 1%;
        margin: auto;
        border-bottom: 4px double rgb(0, 0, 0);
        
    }
    tr{
        width: fit-content;
        padding-left: 1%;
        padding-right: 1%;
        border: 1px solid black;
        

        th{
            padding-left: 1%;
            padding-right: 1%;
            width: 60vw;
            p{
                display: inline-block;
                margin-right: 1%;
            }
        }

        td{
            padding-left: 1%;
            padding-right: 1%;
            width: fit-content;
            p{
                display: inline-block;
            }
            #dropdown{
                width: fit-content;
                margin-top: 4vh;
                margin-right: 1vw;
                margin-left: 2vw;
            }

        }

        #buttonDrop{
            font-weight: 600;
        }

        #buttonDrop:hover{
            background-color: aliceblue;
            text-decoration: underline;
        }

    }


        div{
            text-align: center;
        }
    }

    h1{
        text-align: center;
    }


    form{
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 2vh;
        input{
            font-size: 120%;
            
        }
    }
