
    
  

    table{
        background-color: aliceblue;
        padding: 1%;
        margin: auto;
        
    }
    tr{
        width: fit-content;
        padding-left: 1%;
        padding-right: 1%;
        border: 1px solid black;
        
     th{
        padding-left: 1%;
        padding-right: 1%;
        width: 60vw;
        p{
            display: inline-block;
            margin-right: 1%;
        }
    }

    td{
            padding-left: 1%;
            padding-right: 2vw;
            width: fit-content;
            p{
                display: inline-block;
            }
          
    } }


    div{
        text-align: center;
    }
    

    